body{
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin:50px auto 0 auto;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  color: #006a71;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #006a71;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #68b0ab;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 5px;
    width: 5%;
  }

p{
  line-height: 2;
}

a{
  color: #68b0ab;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: white;
}

.pro{
  text-decoration: underline;
}

.profile{
  margin:auto;
  width: 50%;
}

.top-container{
  background-color: #c6fced;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color:#03506f;
  padding: 40px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud{
  position:absolute;
  left: 350px;
  bottom:300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-me{
  margin: 100px;
}

.image1{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-msg{
  margin: 40px auto;
  width: 40%;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 150px;
   font-size: 20px;
   font-weight: 100;
   padding: 24px;
   -webkit-box-shadow: 1px 0 7px 0 #000000;
   -moz-box-shadow: 1px 0 7px 0 #000000;
   box-shadow: 1px 0 7px 0 #000000;
   text-shadow: -1px -1px 6px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}
